h1{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}
body{
    padding: 10px;
}
.dados-pessoais{
    margin: 10px;
    display: flex;
    flex-direction: row;
}

#dados{
    margin: 1rem;
}

table, tr, th {
    padding: 5px;
    border: 1px solid gray;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

th{
    background-color: #ddd;
}