<meta charset="utf-8">
<script src="http://unpkg.com/vue"></script>

<div id="app">
<ul>
    <li v-for="(cor,i) in cores" >
        {{i+1}}) {{cor}}
    </li>
    <hr>
    <template  v-for="(cor,i) in cores" :key="cor">
        <h1>
            {{cor}}
        </h1>
        <p>
            {{i}}
        </p> <br>
    </template>
</ul>
<button @click="cores.push('Branca')">Branca</button>
<ul>
    <li v-for="pessoa in pessoas">
        <div v-for="(valor,chave) in pessoa">
            {{chave}} | {{valor}}
        </div>
    </li>
</ul>
<template v-for="n in 10">{{n}}</template>
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            cores: ['vermelho', 'verde', 'amarelo', 'azul'],
            pessoas: [
                {nome: 'Ana', idade: 29,peso: 79},
                {nome: 'Lilo', idade: 10,peso: 50}
            ]
        }
    })
</script>

<style>
    ul {
        list-style: none;
    }

    h1, p {
        display: inline;
    }
</style>