<script src="https://unpkg.com/vue"></script>
<style>
    .caixas {
        display: flex;
        justify-content: space-around;
    }
    .demo{
        width: 100px;
        height: 100px;
        background-color: gray;
    }
    .girar{
        transform: rotate(45deg);
    }
    .girarNeg{
        transform: rotate(-45deg);
    }
    .a{
        background-color: red;
    }
    .b{
        background-color: green;
    }
    .c{
        background-color: blue;
    }
</style>

<div id="app">
    <br> <br>  <br> <br>
    <div class="caixas">
        <div class="demo" :class="[css1, 'girar']">
            <input type="text" v-model="css1">
        </div>
        <div class="demo" :class="css2">
            <input type="text" v-model="css2">
        </div>
        <div class="demo" :class="[css3, 'girarNeg']">
            <input type="text" v-model="css3">
        </div>
    </div>
</div>

<script>
    new Vue({
        el: '#app',
            data: {
                css1: '',
                css2: '',
                css3: ''
            }
        }
    );
</script>